DISCORD_BOT_TOKEN=123 # Discord Bot Token, get it from https://discord.com/developers/applications
TELEGRAM_BOT_TOKEN=123 # Telegram Bot Token, get it from https://t.me/botfather
DASHSCOPE_API_KEY=sk-123 # BaiLian API Key
BAILIAN_APP_ID=123 # BaiLian App ID